@{
    ViewBag.Title = "Home Page";
}
@*@Html.Action("GetMenuList", "Home")*@
 
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->


                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Dashboard Asset</h2>

                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <!-- content -->
                            <center><h3>Asset Qty</h3></center>
                            <div>
                                <div id="bar-chart_qty" class="chart"></div>
                            </div>

                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <!-- content -->
                            <center><h3>Asset Value</h3></center>
                            <div>
                                <div id="bar-chart_total" class="chart"></div>
                            </div>

                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <!-- content -->
                            <center><h3>Mutation</h3></center>
                            <div>
                                <div id="bar-chart_mutation" class="chart"></div>
                            </div>

                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <!-- content -->
                            <center><h3>Disposes</h3></center>
                            <div>
                                <div id="bar-chart_dispose" class="chart"></div>
                            </div>

                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
        </div>

        <!-- end row -->
        <!-- row -->

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script>
        $(document).ready(function () {

            /* chart colors default */
                var $chrt_border_color = "#efefef";
                var $chrt_grid_color = "#DDD"
                var $chrt_main = "#E24913";
                /* red       */
                var $chrt_second = "#6595b4";
                /* blue      */
                var $chrt_third = "#FF9F01";
                /* orange    */
                var $chrt_fourth = "#7e9d3a";
                /* green     */
                var $chrt_fifth = "#BD362F";
                /* dark red  */
                var $chrt_mono = "#000";

            if ($("#bar-chart_qty").length) {

                function numberWithCommas(x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }

                function showTooltip(x, y, color, contents) {
                    $('<div id="tooltip">' + contents + '</div>').css({
                        position: 'absolute',
                        display: 'none',
                        top: y - 40,
                        left: x - 120,
                        border: '2px solid ' + color,
                        padding: '3px',
                        'font-size': '9px',
                        'border-radius': '5px',
                        'background-color': '#fff',
                        'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                        opacity: 0.9
                    }).appendTo("body").fadeIn(200);
                }
                //ajax load chart data
                $.ajax({
                    type: 'POST',
                    url: "/dashboard/Dashboard_Chart1",
                    dataType: 'json',
                    success: function (result) {
                        var i;
                        var data_chart_1_x = [];
                        var data_chart_1_y = [];
                        var data_chart_1_y_total = [];
                        var iLength = result.data.length;
                        //alert(iLength);
                        for (i = 0; i < iLength; i++) {
                            //alert(result.data[i].department_code);
                            var dept_code = "";
                            dept_code =  result.data[i].department_code;
                            data_chart_1_x.push([i, dept_code])
                            data_chart_1_y.push([i, result.data[i].asset_qty])
                            data_chart_1_y_total.push([i, result.data[i].asset_value])
                        }

                        //******* Flot - BAR CHART
                        var ticks = data_chart_1_x;
                        var data = data_chart_1_y;
                        var data_total = data_chart_1_y_total;
                        var dataset = [{ label: "Asset Qty Tiap Dept", data: data, color: "#5482FF" }];
                        var dataset_total = [{ label: "Asset Value Tiap Dept", data: data_total, color: "#5482FF" }];

                        var options = {
                            series: {
                                bars: {
                                    show: true
                                }
                            },
                            bars: {
                                align: "center",
                                barWidth: 0.3
                            },
                            xaxis: {
                                axisLabel: "Department",
                                axisLabelUseCanvas: true,
                                axisLabelFontSizePixels: 12,
                                axisLabelFontFamily: 'Verdana, Arial',
                                axisLabelPadding: 3,
                                ticks: ticks
                            },
                            yaxis: {
                                axisLabel: "Total Asset",
                                axisLabelUseCanvas: true,
                                axisLabelFontSizePixels: 12,
                                axisLabelFontFamily: 'Verdana, Arial',
                                axisLabelPadding: 1,
                                tickFormatter: function (v, axis) {
                                    return numberWithCommas(v);
                                }
                            },
                            legend: {
                                noColumns: 0,
                                labelBoxBorderColor: "#000000",
                                position: "nw"
                            },
                            grid: {
                                hoverable: true,
                                borderWidth: 2,
                                backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
                            },
                        };

                        function gd(year, month, day) {
                            return new Date(year, month, day).getTime();
                        }

                        var previousPoint = null, previousLabel = null;

                        $.fn.UseTooltip = function () {
                            $(this).bind("plothover", function (event, pos, item) {
                                if (item) {
                                    if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                                        previousPoint = item.dataIndex;
                                        previousLabel = item.series.label;
                                        $("#tooltip").remove();

                                        var x = item.datapoint[0];
                                        var y = item.datapoint[1];

                                        var color = item.series.color;

                                        //console.log(item.series.xaxis.ticks[x].label);                

                                        showTooltip(item.pageX,
                                        item.pageY,
                                        color,
                                        "<strong>" + item.series.label + "</strong><br><strong>" + item.series.xaxis.ticks[x].label + " : " + numberWithCommas(y) + "</strong>");
                                    }
                                } else {
                                    $("#tooltip").remove();
                                    previousPoint = null;
                                }
                            });
                        };

                        $(document).ready(function () {
                            $.plot($("#bar-chart_qty"), dataset, options);
                            $.plot($("#bar-chart_total"), dataset_total, options);
                            $("#bar-chart_qty").UseTooltip();
                            $("#bar-chart_total").UseTooltip();
                        });
                    }
                });

                //load chart 2

                $.ajax({
                    type: 'POST',
                    url: "/dashboard/Dashboard_Chart2",
                    dataType: 'json',
                    success: function (result) {
                        var x;
                        var data_chart_2_x = [];
                        var data_chart_2_y = [];
                        var data_chart_2_y_total = [];
                        var iLength = result.data.length;
                        //alert(iLength);
                        for (x = 0; x < iLength; x++) {
                            //alert(result.data[i].department_code);
                            var dept_code = "";
                            dept_code = result.data[x].department_code;
                            data_chart_2_x.push([x, dept_code])
                            data_chart_2_y.push([x, result.data[x].mutation_qty])
                            data_chart_2_y_total.push([x, result.data[x].dispose_qty])
                        }

                        //******* Flot - BAR CHART
                        var ticks = data_chart_2_x;
                        var data = data_chart_2_y;
                        var data_total = data_chart_2_y_total;
                        var dataset = [{ label: "Asset Mutation Tiap Dept", data: data, color: "#5482FF" }];
                        var dataset_total = [{ label: "Asset Dispose Tiap Dept", data: data_total, color: "#5482FF" }];

                        var options = {
                            series: {
                                bars: {
                                    show: true
                                }
                            },
                            bars: {
                                align: "center",
                                barWidth: 0.3
                            },
                            xaxis: {
                                axisLabel: "Department",
                                axisLabelUseCanvas: true,
                                axisLabelFontSizePixels: 12,
                                axisLabelFontFamily: 'Verdana, Arial',
                                axisLabelPadding: 3,
                                ticks: ticks
                            },
                            yaxis: {
                                axisLabel: "Total Asset",
                                axisLabelUseCanvas: true,
                                axisLabelFontSizePixels: 12,
                                axisLabelFontFamily: 'Verdana, Arial',
                                axisLabelPadding: 1,
                                tickFormatter: function (v, axis) {
                                    return numberWithCommas(v);
                                }
                            },
                            legend: {
                                noColumns: 0,
                                labelBoxBorderColor: "#000000",
                                position: "nw"
                            },
                            grid: {
                                hoverable: true,
                                borderWidth: 2,
                                backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
                            },
                        };

                        function gd(year, month, day) {
                            return new Date(year, month, day).getTime();
                        }

                        var previousPoint = null, previousLabel = null;

                        $.fn.UseTooltip = function () {
                            $(this).bind("plothover", function (event, pos, item) {
                                if (item) {
                                    if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                                        previousPoint = item.dataIndex;
                                        previousLabel = item.series.label;
                                        $("#tooltip").remove();

                                        var x = item.datapoint[0];
                                        var y = item.datapoint[1];

                                        var color = item.series.color;

                                        //console.log(item.series.xaxis.ticks[x].label);                

                                        showTooltip(item.pageX,
                                        item.pageY,
                                        color,
                                        "<strong>" + item.series.label + "</strong><br><strong>" + item.series.xaxis.ticks[x].label + " : " + numberWithCommas(y) + "</strong>");
                                    }
                                } else {
                                    $("#tooltip").remove();
                                    previousPoint = null;
                                }
                            });
                        };

                        $(document).ready(function () {
                            $.plot($("#bar-chart_mutation"), dataset, options);
                            $.plot($("#bar-chart_dispose"), dataset_total, options);
                            $("#bar-chart_mutation").UseTooltip();
                            $("#bar-chart_dispose").UseTooltip();
                        });
                    }
                });

            }
        });

    </script>
}